<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPL-prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylepredict.css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color:bisque">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/predict">Predict</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/about">About</a></li>
                <li><a class="dropdown-item" href="/predict">Predict</a></li>
                <li><a class="dropdown-item" href="/contact">Contact</a></li>
                <li><a class="dropdown-item" href="/login">Login</a></li>
              </ul>
            </li>
          </ul>
          <!-- Logo -->
          <a class="navbar-brand" href="/" style="margin-left:500px;">IPL-predction</a>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
              </ul>
  
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: bisque; border: none;">
                  <button class="btn btn-outline-success" type="submit" style="border: none; margin-right: 20px;">Search</button>
              </form>
          </div>
      </div>
  </nav>

    <!-- Prediction Form -->
    <form action="/predict" method="POST">
      
      <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="batting_team" required="">
        <option selected disabled value="">SELECT BATTING TEAM</option>
        <option value="Chennai Super kings">Chennai Super kings</option>
        <option value="Delhi Daredevils">Delhi Daredevils</option>
        <option value="Kings XI Punjab">Kings XI Punjab</option>
        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
        <option value="Mumbai Indians">Mumbai Indians</option>
        <option value="Rajastan Royals">Rajastan Royals</option>
        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
      </select>

      <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="bowling_team" required="">
        <option selected disabled value="">SELECT BOWLING TEAM</option>
        
        <option value="Chennai Super kings">Chennai Super Kings</option>
        <option value="Delhi Daredevils">Delhi Daredevils</option>
        <option value="Kings XI Punjab">Kings XI Punjab</option>
        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
        <option value="Mumbai Indians">Mumbai Indians</option>
        <option value="Rajasthan Royals">Rajasthan Royals</option>
        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
    </select>
    
      <div class="input-group mb-3" style="margin-top: 30px;">
        <span class="input-group-text" id="inputGroup-sizing-default">OVERS</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="overs">
      </div>


      <div class="input-group mb-3" style="margin-top: 30px;">
        <span class="input-group-text" id="inputGroup-sizing-default">INPUT RUNS</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="runs" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">INPUT WICKETS</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" min="0" max="10" name="wickets" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">INPUT RUNS_IN_PREV</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="runs_in_prev_5" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">INPUT WICKETS_IN_PREV_5</span>
        <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="wickets_in_prev_5"required>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 20px;">SUBMIT</button>
    </form>

  </body>
</html>
